.web-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  height: 65px;
  overflow: hidden;

  > .toggle-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 40px;
    font-size: 25px;
  }

  a {
    color: #4a4a4a;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #fff;
  }
  a:hover {
    border: 1px solid #4a4a4a;
  }

  > .active {
    > a {
      color: red;
      border: 1px solid red;
      padding: 0 5px;
      border-radius: 5px;
    }
  }
}
